.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
*.egg

# Logs
*.log

# macOS specific
.DS_Store
__MACOSX/

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# Ruff cache
.ruff_cache/
.ipynb_checkpoints/
